<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index_styles.css">
</head>
<body>
    
<div class="box">
    <h1>Lyric.</h1>
    <p>You might not know the lyrics, but we do.</p>
    <form action="/signup">
        <button id="sign up" class="btn">Sign Up</button>
    </form>
    <form action="/login">
        <button id="login" class="btn">Login</button>
    </form>

</div>

    
</body>
</html>