<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index_styles.css">
    <title>Log in!</title>
</head>
<body>

    <div class="box">
    <h2>Lyric.</h2>
    <form method="POST">
        <!-- needs a form action -->
        {{ form.hidden_tag() }}
      
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
          {{ field.label }}
          {{ field }}
      
          {% for error in field.errors %}
          {{ error }}
          {% endfor %}
        </p>
        {% endfor %}
      
        <button type="submit" class="btn">Log In!</button>
      
      </form>
    </div>
</body>
</html>